fastapi
uvicorn
streamlit
requests
scikit-learn
joblib
transformers
torch
google-api-python-client
google-auth
google-auth-oauthlib
streamlit
torch
transformers
scikit-learn
joblib
pandas
numpy
plotly
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
tqdm
matplotlib>=3.9.0
